/* Ref:  http://www.w3schools.com/css/css_syntax.asp */

body, html {
	height: 100%;
	width: 100%;
	text-align: center;
}

body{ /*general style rules for the body section */
	background-color: lightblue;
	text-align: center;
}

img {
   max-width:100%;
   height:auto;
   max-height:100%;
}

#div2 {
	text-align: bottom left;
}

#div3 {
	text-align: right;
}

#div4 {
	text-align: bottom;
}
