/* Ref:  http://www.w3schools.com/css/css_syntax.asp */

body, html {
	height: 100%;
	width: 100%;
}

#div3 {
   width:80vw;
   height:80vh;
}
img {
   max-width:100%;
   height:auto;
   max-height:100%;
}
